<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud agregar</title>
</head>
<body>
    <div align="center">
        <h3>Formulario crud productos</h3>
        <br>
        <form action="crud_agregar" method="POST">
            {% csrf_token%}

            <pre>Id producto:       <input type="text"name="idProducto"></pre>
            <pre>Nombre producto    <input type="text"name="nombreProducto"></pre>
            <pre>Marca producto     <input type="text"name="marcaProducto"></pre>
            <pre>Valor producto     <input type="text"name="valorProducto"></pre>
            <pre>Tipo producto      <select name="tipoAyuda">

                {% for ayuda in ayudas %}
                    <option value="{{ayuda.id_ayuda}}">{{ayuda.ayuda}}</option>
                {% endfor %}
            </select></pre>

            <input type="submit" name="option"value="Agregar">

        </form>
        <br><br>
        <a href="{% url 'orm1'%}">volver</a>
        <br>
        <div id="idMensajes">
            {%if mensaje%}
            {{mensaje}}
            {%endif%}
        </div>
    </div>
    
</body>
</html>