<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud_lista</title>
</head>
<body>
     
    <h3>Editar datos productos</h3>
    <br>

    <button type="button">
        <a href="{% url 'crud_agregar'%}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <table>
        {% if productos %}
            <th>Id producto</th>
            <th>Nombre producto</th>
            <th>Marca producto</th>
            <th>Valor</th>
            <th>ELIMINAR</th>
            <th>MODIFICAR</th>
            {% for x in productos%}

            <tr>
                <td>{{ x.id_producto}}</td>
                <td>{{ x.nombre_producto}}</td>
                <td>{{ x.marca_producto}}</td>
                <td>{{ x.valor_producto}}</td>
                <td><a href="{% url 'crud_del'  pk=x.id_producto %}">Eliminar</a></td>
                <td><a href="{% url 'crud_edit' pk=x.id_producto %}">Modificar</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(documento).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
</body>
</html>