<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud edit</title>
</head>
<body>

    <div align="center">

        {% if producto %}

            <h3>Formulario actualizar datos</h3>

            <form action="{% url 'crud_update'%}" method="POST">
                {% csrf_token%}

                <pre>Id producto       <input type="text"name="idProducto" value="{{producto.id_producto}}"></pre>
                <pre>Nombre producto   <input type="text"name="nombreProducto" value="{{producto.nombre_producto}}"></pre>
                <pre>Marca producto    <input type="text"name="marcaProducto" value="{{producto.marca_producto}}"></pre>
                <pre>valor producto    <input type="text"name="valorProducto" value="{{producto.valor_producto}}"></pre>
                <pre>Tipo producto     <select name="ayuda">

                    {%for ayuda in ayudas %}
                        {% if ayuda.ayuda== producto.id_ayuda.ayuda %}
                            <option value="{{ayuda.id_ayuda}}" selected> {{ayuda.ayuda}}</option>
                        {% else %}
                            <option value="{{ayuda.id_ayuda}}">{{ayuda.ayuda}}</option>
                        {% endif %}
                    {% endfor %}
                </select></pre>

                
            </form>
            <br><br>
        {% endif %}
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
        <br><br>
        <a href="{% url 'orm1'%}"></a>
    </div>
    
</body>
</html>