{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agregar</title>
</head>
<body>
	<div align="center">
		<h3>Formulario nuevo producto</h3>
		<br>
		<form action="agregar" method="POST">

			{% csrf_token %}

			<pre>Id producto:  <input type="text" name="idProducto"></pre>
			<pre>Nombre producto: <input type="text"name="nombreProducto"></pre>
			<pre>Marca producto: <input type="text" name="marcaProducto"></pre>
			<pre>valor producto: <input type="text" name="precio"></pre>
			<pre>Tipo producto: <select name="tipo_producto">

				{% for ayuda in ayudas %}
					<option value="{{ayuda.id_ayuda}}"> {{ayuda.id_ayuda}}</option>
				{% endfor %}

			</select></pre>
			<pre>Imagen referencial <input type="image" name="imagen"></pre>
		</form>
		<br>
		<a href="{% url 'listar'%}">Regresar</a>
		<br>
		<div id="idMensajes">
			{% id mensaje %}
			{{mensaje}}
			{% endif %}
		</div>
	</div>
</body>
</html>