{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agregar</title>
</head>
<body>
	<div align="center">
		<h3>Formulario nuevo producto</h3>
		<br>
		<form action="{% url 'agregar' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			
			<pre>Id producto:          <input type="text" name="idProducto"></pre>
			<pre>Nombre producto:      <input type="text" name="nombreProducto"></pre>
			<pre>Marca producto:       <input type="text" name="marcaProducto"></pre>
			<pre>Valor producto:       <input type="text" name="precio"></pre>
			<pre>Tipo producto:        <select name="tipo_producto">
				{% for ayuda in ayudas %}
					<option value="{{ ayuda.id_ayuda }}">{{ ayuda.ayuda }}</option>
				{% endfor %}
			</select></pre>
			<pre>Imagen referencial:   <input type="file" name="imagen"></pre>
			
			<br>
			<input type="submit" name="opcion" value="Agregar">
		</form>
		
		<br>
		<div id="idMensajes">
			{% if mensaje %}
				{{ mensaje }}
			{% endif %}
		</div>
		
		<a href="{% url 'listar' %}">Regresar</a>
	</div>
</body>
</html>