{%load static%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud listar</title>
</head>
<body>
    <h2 align="center">Editar datos de productos</h2>
    <br>
    
    <table align="center">
        {% if productos %}
            <thead>
                <tr>
                    <th>Id producto</th>
                    <th>Nombre producto</th>
                    <th>Marca producto</th>
                    <th>Valor producto</th>
                    <th>Tipo producto</th>
                    <th>Imagen referencial</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for x in productos %}
                    <tr>
                        <td>{{ x.id_producto }}</td>
                        <td>{{ x.nombre_producto }}</td>
                        <td>{{ x.marca_producto }}</td>
                        <td>{{ x.valor_producto }}</td>
                        <td>{{ x.id_ayuda.ayuda }}</td>
                        <td><img src="{{ x.imagen.url }}" alt="{{ x.nombre_producto }}" width="75"></td>
                        <td><a href="">Editar</a></td>
                        <td><a href="{% url 'eliminar' x.id_producto %}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tr>
                <td colspan="8">No hay productos disponibles.</td>
            </tr>
        {% endif %}
    </table>


    <button type="button" >
        <a href="{%url 'agregar'%}">Agregar nuevo producto</a>
    </button>

    <div id="idMensaje">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
</body>
</html>